# =========================
# PEM / SSH Keys
# =========================
*.pem
*.ppk

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Python
# =========================
__pycache__/
*.pyc

# =========================
# Node.js
# =========================
node_modules/

# =========================
# Logs
# =========================
*.log

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Operating System Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Temporary Files
# =========================
*.tmp
*.swp